@use '@/styles/abstract/mixins' as *;

.tag {
  display: flex;
  flex-wrap: wrap;
  color: #DBFF00;
  gap: 0.5rem;


  &__item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #DBFF001A;
    background-color: #DBFF001A;
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    @include font(500, 12, 18, 0);
  }

}