@use '@/styles/abstract/mixins' as *;

.tag {
  display: flex;
  flex-wrap: wrap;
  color: #DBFF00;
  gap: 1rem;


  &__item {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #DBFF001A;
    background-color: #DBFF001A;
    padding: 10px 18px;
    border-radius: 1.2rem;
    @include font(500, 13, 18, 0);
  }

}