@use '@/styles/abstract/mixins' as *;

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #DBFF00;

  opacity: 1;
  transform: none;
}

.tag__item {
  display: flex;
  border: 1px solid #DBFF001A;
  background-color: #DBFF001A;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  @include font(500, 12, 18, 0);
}

/* ----------------------------- */
/* TAG ANIMATION (SCOPED)        */
/* ----------------------------- */

.reveal .tag {
  opacity: 0;
  transform: scale(0.96);
  transition: 0.35s ease 0.3s;
}

.reveal.is-visible .tag {
  opacity: 1;
  transform: scale(1);
}
