@use '@/styles/abstract/mixins' as *;

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  margin-bottom: 4rem;

  a {
    width: 100%;
    display: block;
  }

  &__masonry {
    display: flex;
    height: 100%;
    gap: 1rem;
    align-content: flex-start;
    flex-direction: column;

    img {
      max-width: 100%;
      height: 250px;
      border-radius: 0.75rem;
      object-fit: cover;
    }

    span {
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      @include font(700, 10, 20, 1.4);
    }

    p {
      color: rgb(148, 163, 184);
      @include font(500, 14, 21, -0.5);
    }

    svg {
      margin-left: 0.25rem;
    }
  }

  &__project-heading {
    @include font(500, 18, 20, 1.4);

    @include media-query('md') {
      @include font(500, 24, 20, 1.4);
      margin-bottom: 1rem;
    }
  }

  &__list-item {
    color: rgb(148, 163, 184);
    padding-left: 8px;
    @include font(350, 14, 21, -0.5);
    margin-bottom: 0.5rem;
  }

  &__sub-heading {
    margin-bottom: 0.5rem;
    color: #fff;
    padding-left: 4px;
    @include font(300, 16, 21, -0.5);
  }

  &__tech-stack {
    @include font(500, 18, 21, -0.5);
    margin-bottom: 0.75rem;
  }

  &__items-wrapper {
    margin-bottom: 8px;
  }

  &__external-link {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include font(500, 16, 20, 1.4);


  }
}

.heading-project {
  padding-top: 1rem;
  text-transform: uppercase;

  @include font(700, 18, 20, 1.4);
}