@use 'sass:map';
@use 'variables';

@mixin font($weight, $size: 16, $line-height: 1.5, $letter-spacing: 2) {
  font-weight: $weight;
  font-size: #{$size}px;
  line-height: #{$line-height}px;
  letter-spacing: #{$letter-spacing}px;
}

@mixin media-query($breakpoint) {
  $value: map.get(variables.$breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "No value found for `#{$breakpoint}` in $breakpoints map.";
  }
}