@use '@/styles/abstract/mixins' as *;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;

  &__about-wrapper {
    position: relative;
    @include media-query('lg') {
      width: 350px;
      position: fixed;
      top: 7rem;
    }

    @include media-query('md') {
      flex-direction: row;
    }

    @include media-query('lg') {
      flex-direction: column;
    }
  }

  &__profile-picture {
    width: 100%;
    max-width: 263px;
    height: auto;
    margin-bottom: 1.5rem;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h1 {
      margin-bottom: 0.75rem;

      a {
        @include font(700, 36, 40, -0.9);
        color: #D4DDEE
      }
    }
  }

  &__heading-intro {
    color: #D4DDEE;
    margin-bottom: 1rem;
    @include font(500, 18, 24, -0.45);
  }

  &__intro {
    margin-bottom: 1.5rem;
    color: #6B7B9A;
    @include font(500, 16, 24, -0.45);
  }

  &__cta-wrapper {
    margin-bottom: 4rem;
  }

  &__cta {
    padding: 0.5rem 1rem;
    background-color: #0048FF;
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    @include font(500, 18, 34, 0);
  }

  @keyframes glow-expand {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }

  &__circle {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 1rem;
    background-color: #DBFF00;
    border-radius: 50%;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.8rem;
      height: 0.8rem;
      background-color: #DBFF00;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      animation: glow-expand 1.5s infinite ease;
      opacity: 0.2;
      z-index: -1;
    }
  }

  &__social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    bottom: 0;
    margin-left: 0.25rem;

    li:last-child {
      margin-left: auto;
    }

    @include media-query('lg') {
      //position: fixed;
      bottom: 0;
      margin-top: 4rem;
    }

    &-icon {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__resume {
    background: #D3D3F5;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #000;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
  }

  &__list-item {
    position: relative;
    text-transform: capitalize;
    color: #D4DDEE;
  }

  &__link {
    color: #D3D3F5;
    text-decoration: none;
    padding-left: 1rem;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
    position: relative;

    &--active,
    &:hover {
      font-weight: 600;
      transform: translateX(32px);

      &::before {
        content: '';
        position: absolute;
        left: -1.75rem;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 0;
        background-color: #DBFF00;
        border-radius: 2px;
        animation: growLine 0.3s forwards cubic-bezier(0.25, 1, 0.5, 1);
      }
    }
  }

  @keyframes growLine {
    from {
      width: 0;
    }
    to {
      width: 2.5rem;
    }
  }


  &__list-wrapper {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
}