@use '@/styles/abstract/mixins' as *;

.experience {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  margin-bottom: 4rem;
  white-space: pre-line;

  header {
    width: 10rem;
    min-width: 10rem;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include media-query('md') {
        flex-direction: row;

      }

      header {
        color: #5F6E85;
        @include font(600, 12, 16, 0.3);
      }
    }
  }


  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    p {
      color: rgb(148, 163, 184);
      @include font(500, 14, 21, -0.5);
    }

    @include media-query('md') {
      display: flex;
    }
  }

  &__heading {
    @include font(500, 16, 20, 0);
  }
}

.heading-experience {
  padding-top: 1rem;
  text-transform: uppercase;

  @include font(700, 14, 20, 1.4);
}