/* base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, p, li, h1, h2, h3, h4, h5, h6, blockquote, pre {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}